/*
*   font-family: 'Yantramanav', sans-serif;
*/
html {
    background-color: #e6e6e6;
    font-size: 12pt;
}

body {
    margin: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'sideNav content content content content content';
}

.grid-container #sideNav {
    grid-area: sideNav;
    background-color: rgba(10, 31, 42, .75);
    width: 15rem;
    position: fixed;
    z-index: 101;
}

#sideNav img {
    width: 13rem;
    height: auto;
    padding: 0;
    margin: .5rem 1rem 0rem 1rem;
    border-radius: .25rem;
    filter: drop-shadow(2px 2px 4px black);
}

.sideNav ul {
    list-style-type: none;
    padding-right: 1rem;
}

.sideNav ul a {
    text-decoration: none;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: right;
}

.content {
    grid-area: content;
    display: subgrid;
    grid-template-areas:
    'welcome welcome welcome welcome welcome welcome'
    'about about about about about about'
    'projects projects projects projects projects projects'
    'contact contact contact contact contact contact';
    z-index: 100;
    margin-left: 15.5rem;
}

.welcome {
    grid-area: welcome;
    background-color: rgba(30, 40, 60, .5);
    color: #e6e6e6;
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
    margin-left: 0;
    padding: 0 .13rem 0 .13rem;
}

.display-2 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    margin-left: .5rem;
}

.display-2 small {
    font-size: 2rem;
}
